$blue-bg: #61c4d9;
$cyan-ic: #b0f7ff;
$grey-bg: #f2f5f4;
$green-bg: #f8faf9;
$green-txt: #0f5a47;
$grey-txt: #666666;
$black-txt: #0d0d0d;
$darkgrey-txt: #323232;

@import '_misc/normalize.css';

@import '_misc/mixins.scss';
@import '_misc/fonts.scss';
@import '_misc/layout.scss';
@import '_misc/media.scss';

//hamburger menu start
@import 'blocks/hamburger-menu.scss';
//hamburger menu end

// chocco section blocks start
@import 'blocks/chocco.scss';
@import 'blocks/section.scss';
@import 'blocks/header.scss';
@import 'blocks/phone.scss';
@import 'blocks/nav.scss';
@import 'blocks/button.scss';
@import 'blocks/advantages.scss';
// chocco section blocks end

// whyus section blocks start
@import 'blocks/whyus.scss';
// whyus section blocks end

//bar types section blocks start
@import 'blocks/bar-types.scss';
@import 'blocks/pop-up.scss';
//bar types section blocks end

// team section blocks start
@import 'blocks/team.scss';
// team section blocks end

// reviews section blocks start
@import 'blocks/reviews.scss';
// reviews section blocks end

// order section blocks start
@import 'blocks/order.scss';
@import 'blocks/form.scss';
// order section blocks end

// map section blocks start
@import 'blocks/map.scss';
// map section blocks end

// fixed menu start
@import 'blocks/fixed-menu.scss';
// fixed menu end

// footer start
@import 'blocks/footer.scss';
@import 'blocks/contacts.scss';
@import 'blocks/socials.scss';
// footer end

// @import "_misc/test.scss";
