@import url(_misc/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700&display=swap&subset=cyrillic-ext,latin-ext");
@import url("//db.onlinewebfonts.com/c/9a549fc9738ad934c621b5c1e699cc52?family=MuseoSansW01-500");
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Alegreya Sans"; }

body {
  font-size: 18px;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: black;
  margin: 0; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%; }

.container--chocco {
  display: flex;
  align-items: stretch;
  justify-content: space-between; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

.main-title {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em; }

.main-description--chocco {
  font-size: 21px;
  font-weight: 400px;
  letter-spacing: 0.05em;
  line-height: 26px; }

.headline {
  display: flex;
  align-items: center;
  flex-direction: column; }

.headline__title {
  color: #0d0d0d;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

button {
  background: transparent;
  border: none;
  cursor: pointer; }

a {
  text-decoration: none; }

.chocco {
  background: #61c4d9 url("../../img/bg/chocco--bars.png") center center/cover no-repeat;
  display: flex;
  padding-top: 24px;
  padding-bottom: 50px;
  position: relative; }
  .chocco:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../img/bg/chocco--leaf.png");
    width: 59px;
    height: 112px;
    top: 100%;
    transform: translateY(-52px); }
  .chocco:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../img/bg/chocco--berries&leaves.png");
    width: 460px;
    height: 341px;
    top: 100%;
    right: 0%;
    transform: translateY(-296px); }

.chocco-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: white; }

.main-title--chocco {
  padding-bottom: 6px;
  max-width: 50%; }

.main-description--chocco {
  margin-bottom: 32px;
  max-width: 47%; }

.section {
  height: 100vh;
  position: relative;
  min-height: 650px; }

.header {
  display: flex;
  top: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  font-family: "MuseoSansW01-500";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase; }

.header__buttons {
  display: flex;
  align-items: center;
  padding: 0 7px; }

.phone {
  display: flex;
  align-items: center; }

.phone__symbol {
  fill: #ffffff;
  margin-right: 5px; }

.phone__number {
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center; }

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 26px; }
  .nav__item:last-child {
    margin-right: 0; }

.nav__link {
  text-decoration: none;
  color: white; }

.button {
  background: #ffffff;
  padding: 23px 44px;
  border-radius: 40px;
  text-transform: uppercase;
  color: #0f5a47;
  font-weight: 900;
  font-size: 19px; }

.advantages {
  color: #ffffff; }

.advantages__list {
  display: flex; }

.advantages__item {
  display: flex; }

.advantages__icon {
  color: #b0f7ff; }

.advantages__icon--nature,
.advantages__icon--delivery,
.advantages__icon--dieting {
  fill: none;
  stroke: #b0f7ff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  margin-right: 7px; }

.advantages__icon--dieting {
  width: 42px;
  height: 42px;
  margin-right: 13px; }

.advantages__desc {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 20px;
  max-width: 40%; }

.whyus {
  background: url("../../img/bg/whyus--grey-leaf.png") center center/cover no-repeat;
  position: relative; }
  .whyus:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../img/bg/whyus--raspberry.png");
    width: 161px;
    height: 315px;
    top: 100%;
    transform: translateY(-319px); }

.whyus-headline {
  margin-top: 49px; }

.whyus-headline__desc {
  margin-top: 8px;
  color: #666666;
  text-align: center;
  max-width: 45%; }

.whyus-content {
  display: flex;
  align-items: center;
  justify-content: center; }

.whyus__content {
  margin-top: 57px; }

.whyus-content__whyus-list {
  display: flex; }

.whyus-content__whyus-item {
  display: flex;
  flex: 1;
  margin-right: 79px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative; }
  .whyus-content__whyus-item:nth-of-type(2) {
    flex: 1.05; }
  .whyus-content__whyus-item:last-child {
    margin-right: 0; }
  .whyus-content__whyus-item:after {
    position: absolute;
    content: "";
    display: block;
    background: url("../../img/icons/dots.png") no-repeat center center;
    width: 67px;
    height: 21px;
    top: 22%;
    left: 107%; }
  .whyus-content__whyus-item:last-of-type:after {
    content: "";
    display: none; }

.whyus-item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.whyus-item__image-container {
  position: relative; }
  .whyus-item__image-container:before {
    content: "";
    display: block;
    width: 125px;
    height: 125px;
    background-color: #f2f5f4;
    border-radius: 50%; }

.whyus-item__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: none;
  stroke: #2a2a29;
  stroke-width: 0.75;
  stroke-miterlimit: 10; }

.whyus-item__desc-container {
  margin-top: 20px; }

.whyus-item__title {
  font-size: 27px;
  font-weight: 700; }

.whyus-item__desc {
  margin-top: 19px;
  font-weight: 300;
  color: #666666; }

.team {
  position: relative; }
  .team:before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../img/bg/team--raspberry.png");
    width: 104px;
    height: 114px;
    top: 100%; }
  .team:after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../img/bg/team--leaf-berries.png");
    width: 196px;
    height: 578px;
    top: 0%;
    right: 0; }

.team-headline {
  margin-top: 73px; }

.team-content {
  margin-top: 58px;
  display: flex; }

.team-list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px; }

.team-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 25%; }

.team-item {
  display: flex;
  flex-direction: column; }

.team-item__clickable:hover ~ .team-item__accordeon {
  height: 100%;
  opacity: 1;
  transition-duration: 0.3s; }

.team-item__clickable:hover ~ .team-item__member-name:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 5px solid #0f5a47;
  position: relative;
  top: 55%;
  left: 0.3em;
  transition-duration: 0.3s; }

.team-item__hover {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .team-item__hover:hover + .team-item__accordeon {
    opacity: 1; }
  .team-item__hover:hover .team-item__member-name:after {
    transform: rotate(-180deg); }

.team-item__member-pic {
  display: block;
  width: 220px;
  height: 288px; }

.team-item__member-name {
  margin-top: 24px;
  color: #323232;
  font-size: 21px;
  font-weight: 500;
  position: relative;
  display: flex; }
  .team-item__member-name:after {
    content: "";
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 5px solid #0f5a47;
    position: relative;
    top: 0.5em;
    left: 0.3em;
    transition: 0.3s; }

.team-item__accordeon {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s; }

.team-item__job-title {
  color: #281e1e;
  margin-top: 17px;
  font-size: 18px; }

.team-item__job-responsibilities {
  color: #666666;
  font-weight: 300;
  margin-top: 8px; }

.reviews {
  position: relative; }
  .reviews:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../img/bg/reviews--leaf&berries.png");
    width: 139px;
    height: 321px;
    top: 100%;
    transform: translateY(-319px); }
  .reviews:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../img/bg/reviews--strawberries.png");
    width: 150px;
    height: 86px;
    bottom: 100%;
    right: 0;
    transform: translate(-10px, 270px); }

.reviews-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.reviews-item {
  display: flex;
  background: #f8faf9;
  margin-top: 30px;
  position: relative;
  padding: 50px 45px; }
  .reviews-item:before {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 45.5%;
    bottom: 94%; }
  .reviews-item:after {
    content: "";
    position: absolute;
    background: url("../../img/bg/bg--reviews__leaves.png") no-repeat center center;
    width: 127px;
    height: 167px;
    right: 0%;
    top: 0%; }

.reviews-texts__userpic {
  display: block;
  width: 260px;
  height: 260px;
  margin-right: 20px; }

.reviews-texts__container {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  align-items: flex-start;
  justify-content: center; }

.reviews-texts__title {
  color: #323232;
  font-weight: 500;
  font-size: 30px; }

.reviews-texts__desc {
  color: #666666;
  font-weight: 400;
  margin-top: 30px; }

.reviews-content__username {
  color: #666666;
  font-weight: 500;
  margin-top: 30px; }

.reviews-buttons {
  display: flex;
  justify-content: center; }

.reviews__buttons {
  margin-top: 30px; }

.reviews-buttons__list {
  display: flex; }

.reviews-buttons__item {
  margin-right: 10px; }
  .reviews-buttons__item:nth-last-of-type(1) {
    margin-right: 0; }

.reviews-buttons__item.active .reviews-buttons-userpic {
  border: 6px solid #0f5a47; }

.reviews-buttons-userpic {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 6px solid transparent; }
  .reviews-buttons-userpic:hover {
    border: 6px solid #0f5a47;
    transition-duration: 0.3s; }

.order {
  background: #cfdeda url("../../img/bg/order--pattern.png") center center/cover no-repeat;
  color: #0f5a47; }

.headline__title--order {
  color: #0f5a47;
  margin-bottom: 50px; }

.form__elem {
  display: flex; }

.form__column {
  flex: 1;
  margin-right: 20px;
  justify-content: stretch; }
  .form__column:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-top: 20px; }
  .form__row:first-child {
    margin-top: 0; }

.form__block {
  flex: 1;
  margin-right: 20px;
  display: block; }
  .form__block:last-child {
    margin-right: 0; }

.form__block-title {
  margin-bottom: 10px; }

.form__input {
  background: #fff;
  border: 3px solid transparent;
  padding: 11px 22px;
  width: 100%;
  color: #000; }
  .form__input:focus {
    border: 3px solid #dde3bd;
    outline: none !important; }
  .form__input--textarea {
    resize: none;
    height: 180px; }

.form__radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-right: 20px; }

.form__radio-default {
  opacity: 0;
  height: 0;
  width: 0; }

.form__radio-custom {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px; }
  .form__radio-custom:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #0f5a47;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }

.form__radio-default:checked + .form__radio-custom:after {
  opacity: 1;
  transition: 0.3s; }

.form__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none; }

.form__checkbox-default {
  opacity: 0;
  height: 0;
  width: 0; }

.form__checkbox-custom {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #fff;
  margin-right: 10px; }
  .form__checkbox-custom:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 8px;
    background-color: #0f5a47;
    transform: rotate(-45deg);
    top: 11px;
    left: 7px;
    opacity: 0; }
  .form__checkbox-custom:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 13px;
    background-color: #0f5a47;
    transform: rotate(45deg);
    top: 7px;
    left: 13px;
    opacity: 0; }

.form__checkbox-default:checked + .form__checkbox-custom:before {
  opacity: 1;
  transition: 0.3s; }

.form__checkbox-default:checked + .form__checkbox-custom:after {
  opacity: 1;
  transition: 0.3s; }

.button-form-order {
  background: #0f5a47;
  color: #fff; }

.button-form-cancel {
  background: transparent; }

.map {
  position: relative; }

.map__image {
  max-width: 100%;
  height: auto; }

.fixed-menu {
  position: fixed;
  top: 216px;
  right: 51px; }

.fixed-menu__item--active .fixed-menu__dot {
  border-color: #ffffff; }

.fixed-menu__dot {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 5px; }
  .fixed-menu__dot:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .fixed-menu__dot:last-child {
    margin-bottom: 0; }

.footer {
  position: absolute;
  padding: 0px 70px;
  display: flex;
  bottom: 0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer__contacts--address {
  font-size: 21px;
  color: #010101;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 12px; }

.footer__contacts--phone {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: #0f5a47;
  text-transform: uppercase;
  font-style: normal; }

.phone__symbol--footer {
  fill: #0f5a47; }

.footer__social--list {
  display: flex; }

.footer__social--icon {
  fill: #b3b3b3;
  margin-left: 20px;
  transition: 0.3s; }
  .footer__social--icon:hover {
    fill: #000000; }

/*# sourceMappingURL=main.css.map */
