@import url(_misc/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700&display=swap&subset=cyrillic-ext,latin-ext");
@import url("//db.onlinewebfonts.com/c/9a549fc9738ad934c621b5c1e699cc52?family=MuseoSansW01-500");
* {
  box-sizing: border-box; }

html {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 17px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 15px; } }

html,
body {
  height: 100%;
  font-family: 'Alegreya Sans'; }

body {
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: black;
  margin: 0; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; }

.maincontent {
  width: 100%; }

.container {
  width: 95%;
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

.main-title {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em; }
  @media screen and (max-width: 480px) {
    .main-title {
      font-size: 50px; } }

.headline {
  display: flex;
  align-items: center;
  flex-direction: column; }

.headline__title {
  color: #0d0d0d;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .headline__title {
      font-size: 32px; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

button {
  background: transparent;
  border: none;
  cursor: pointer; }

a {
  text-decoration: none; }

@media (max-width: 1006px) {
  .team-list {
    width: 699px; }

  .team-item {
    margin-bottom: 30px; } }
.hamburgermenu {
  flex: 1;
  display: flex;
  top: 0;
  left: 0;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  @media screen and (max-width: 768px) {
    .hamburgermenu {
      font-size: 2.2222222222rem;
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 9999;
      background-color: #61c4d9;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      display: none; } }

.hamburgermenu--visible {
  display: flex;
  margin: 0; }

.hamburger-menu__logo {
  font-family: 'MuseoSansW01-500';
  font-size: 1.3333333333rem;
  font-weight: 400;
  text-transform: uppercase;
  left: 0;
  margin-right: 1.4vw; }
  @media screen and (max-width: 768px) {
    .hamburger-menu__logo {
      z-index: 20;
      display: block;
      margin-bottom: 1.1111111111rem;
      font-size: 2.2222222222rem; } }

.chocco {
  background-color: #61c4d9;
  background-image: url("../../img/bg/chocco--background-bars-leaves.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
  display: flex;
  position: relative;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .chocco {
      background-image: url("../../img/bg/chocco--blue-leaves.png");
      background-size: 70% auto;
      background-position: right top;
      padding-bottom: 1.1111111111rem; } }
  .chocco:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../../img/bg/chocco--leaf.png");
    width: 3.2777777778rem;
    height: 6.2222222222rem;
    top: 100%;
    transform: translateY(-2.8888888889rem);
    z-index: 1; }
    @media screen and (max-width: 768px) {
      .chocco:before {
        display: none; } }
  .chocco:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../../img/bg/chocco--berries&leaves.png");
    width: 460px;
    height: 341px;
    top: 100%;
    right: 0%;
    transform: translateY(-16.4444444444rem);
    z-index: 1; }
    @media screen and (max-width: 768px) {
      .chocco:after {
        background-image: url("../../img/bg/bg--chocco--tablet.png");
        background-size: contain;
        top: 32%;
        width: 315px;
        height: 322px;
        left: 50%;
        transform: translate(-50%, -50%); } }

.container--chocco {
  padding-top: 1.3333333333rem;
  padding-bottom: 1.3333333333rem; }

.chocco-content {
  justify-content: center;
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  color: white; }
  @media screen and (max-width: 768px) {
    .chocco-content {
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .chocco-content {
      justify-content: flex-end;
      align-items: center; } }

@media screen and (max-width: 768px) {
  .chocco-description {
    text-align: center;
    width: 70%; } }

.chocco__tablet-background {
  display: none; }
  @media screen and (max-width: 768px) {
    .chocco__tablet-background {
      display: block;
      margin-bottom: 1.1111111111rem;
      height: 40vh; } }
  @media screen and (max-width: 480px) {
    .chocco__tablet-background {
      width: 80%;
      height: auto;
      top: 0;
      position: absolute;
      z-index: 0; } }

.main-title--chocco {
  padding-bottom: 0.3333333333rem;
  max-width: 50%;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .main-title--chocco {
      max-width: 100%;
      letter-spacing: normal;
      font-size: 50px; } }
  @media screen and (max-width: 480px) {
    .main-title--chocco {
      font-size: 2.5rem; } }

.main-description--chocco {
  margin-bottom: 1.7777777778rem;
  font-size: 21px;
  font-weight: 400px;
  letter-spacing: 0.05em;
  line-height: 1.4444444444rem;
  max-width: 45%;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .main-description--chocco {
      letter-spacing: normal;
      font-size: 17px;
      max-width: none;
      margin-bottom: 1.1111111111rem; } }
  @media screen and (max-width: 480px) {
    .main-description--chocco {
      font-size: 1.1111111111rem; } }

.button--chocco {
  margin-bottom: 1.7777777778rem;
  z-index: 2; }

.section {
  height: 100vh;
  position: relative; }

.header {
  display: flex;
  top: 0;
  position: relative; }
  @media screen and (max-width: 768px) {
    .header {
      width: 100vw;
      height: 100vh; } }

.header__buttons {
  display: flex;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .header__buttons {
      flex: 0 1 auto; } }

.hamburger-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999; }

.hamburger-button__toggler {
  position: absolute;
  top: 1.3888888889rem;
  right: 1.3888888889rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  z-index: 30; }

.hamburger-button__icon {
  position: absolute;
  top: 1.6666666667rem;
  right: 1.3888888889rem;
  z-index: 1;
  width: 24px;
  height: 22px;
  background: transparent;
  align-items: center;
  justify-content: center;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-button__icon {
      display: flex; } }

.hamburger-button__icon--line {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  border-radius: 4px; }
  .hamburger-button__icon--line:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: inherit; }
  .hamburger-button__icon--line:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 10px;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: inherit; }

.phone {
  display: flex;
  align-items: center;
  margin-left: 1.4vw; }

.phone__symbol {
  fill: #ffffff;
  margin-right: 0.2777777778rem; }

.phone__number {
  font-style: normal;
  font-size: 1.3333333333rem;
  text-transform: uppercase;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .phone__number {
      font-size: 2.2222222222rem; } }

.nav {
  display: flex;
  flex: 1; }

.nav__list {
  display: flex;
  flex: 1;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .nav__list {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.nav__item {
  display: flex; }
  @media screen and (max-width: 768px) {
    .nav__item {
      margin-bottom: 1.1111111111rem; } }

.nav__link {
  text-decoration: none;
  color: white; }

.button {
  background: #ffffff;
  padding: 0.9444444444rem 1.6666666667rem;
  border-radius: 2.2222222222rem;
  text-transform: uppercase;
  color: #0f5a47;
  font-weight: 900;
  font-size: 1.0555555556rem;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .button {
      padding: 0.8333333333rem 1.8888888889rem;
      margin-bottom: 1.1111111111rem; } }

.advantages {
  color: #ffffff;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .advantages {
      padding-left: 0.8333333333rem; } }

.advantages__list {
  display: flex;
  min-width: 68vw;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .advantages__list {
      justify-content: center;
      width: 100vw; } }
  @media screen and (max-width: 480px) {
    .advantages__list {
      align-items: flex-end;
      justify-content: center; } }

.advantages__item {
  display: flex; }
  @media screen and (max-width: 768px) {
    .advantages__item {
      padding-bottom: 0.5555555556rem;
      width: 30vw;
      min-width: 8.3333333333rem; } }

.advantages__icon {
  fill: none;
  stroke: #b0f7ff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  margin-right: 0.3888888889rem; }

.advantages__desc {
  display: flex;
  flex-grow: 1;
  font-size: 0.8888888889rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.1111111111rem;
  max-width: 50%; }
  @media screen and (max-width: 480px) {
    .advantages__desc {
      font-size: 12px;
      max-width: 30%; } }

.whyus {
  position: relative; }
  .whyus:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../img/bg/whyus--raspberry.png");
    width: 161px;
    height: 315px;
    top: 100%;
    transform: translateY(-11.1111111111rem);
    z-index: 1; }
    @media screen and (max-width: 480px) {
      .whyus:before {
        display: none; } }
  .whyus:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../../img/bg/whyus--grey-leaf.png");
    width: 8.9444444444rem;
    height: 17.5rem;
    left: 0;
    top: 0;
    transform: translateY(17.7222222222rem);
    z-index: -1; }
    @media screen and (max-width: 480px) {
      .whyus:after {
        display: none; } }

.whyus-headline {
  margin-top: 2.7222222222rem; }

.whyus-headline__desc {
  margin-top: 0.4444444444rem;
  color: #666666;
  text-align: center;
  max-width: 45vw; }
  @media screen and (max-width: 480px) {
    .whyus-headline__desc {
      max-width: 80vw; } }

.whyus-content {
  display: flex;
  align-items: center;
  justify-content: center; }

.whyus__content {
  margin-top: 3.1666666667rem; }

.whyus-content__whyus-list {
  display: flex; }
  @media screen and (max-width: 768px) {
    .whyus-content__whyus-list {
      flex-direction: column;
      width: 90vw; } }
  @media screen and (max-width: 480px) {
    .whyus-content__whyus-list {
      width: 80vw; } }

.whyus-content__whyus-item {
  display: flex;
  flex: 1;
  margin-right: 4.3888888889rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative; }
  .whyus-content__whyus-item:nth-of-type(2) {
    flex: 1.05; }
  .whyus-content__whyus-item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .whyus-content__whyus-item {
      margin-bottom: 1.5rem;
      margin-right: 0; } }
  .whyus-content__whyus-item:after {
    position: absolute;
    content: "";
    display: block;
    background: url("../../img/icons/dots.png") no-repeat center center;
    width: 3.7222222222rem;
    height: 1.1666666667rem;
    top: 22%;
    left: 107%; }
    @media screen and (max-width: 768px) {
      .whyus-content__whyus-item:after {
        display: none; } }
  .whyus-content__whyus-item:last-of-type:after {
    content: "";
    display: none; }

.whyus-item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .whyus-item__container {
      flex-direction: row; } }

.whyus-item__image-container {
  position: relative; }
  .whyus-item__image-container:before {
    content: "";
    display: block;
    width: 6.9444444444rem;
    height: 6.9444444444rem;
    background-color: #f2f5f4;
    border-radius: 50%;
    z-index: 2; }
  @media screen and (max-width: 480px) {
    .whyus-item__image-container {
      margin-right: 0.7222222222rem; } }

.whyus-item__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: none;
  stroke: #2a2a29;
  stroke-width: 0.75;
  stroke-miterlimit: 10; }

.whyus-item__desc-container {
  margin-top: 1.1111111111rem;
  text-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .whyus-item__desc-container {
      text-align: left; } }

.whyus-item__title {
  font-size: 1.5rem;
  font-weight: 700; }

.whyus-item__desc {
  margin-top: 1.0555555556rem;
  font-weight: 300;
  color: #666666; }
  @media screen and (max-width: 768px) {
    .whyus-item__desc {
      padding: 0 3.3333333333rem; } }
  @media screen and (max-width: 480px) {
    .whyus-item__desc {
      padding: 0; } }

.bar-types {
  background-color: #f8faf9;
  position: relative;
  display: flex;
  align-items: center; }

.container--bar-types {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative; }

.arrow__container {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute; }
  .arrow__container--left {
    left: 0; }
    @media screen and (max-width: 768px) {
      .arrow__container--left {
        left: 10%; } }
    @media screen and (max-width: 480px) {
      .arrow__container--left {
        left: 0; } }
  .arrow__container--right {
    left: 100%; }
    @media screen and (max-width: 768px) {
      .arrow__container--right {
        left: 90%;
        transform: none; } }
    @media screen and (max-width: 480px) {
      .arrow__container--right {
        left: 100%;
        transform: translateX(-13px); } }

.arrow {
  z-index: 2;
  top: 50%;
  width: 13px;
  height: 28px; }
  @media screen and (max-width: 768px) {
    .arrow {
      transform: translateY(-17vh); } }

.bar-types__slider {
  overflow: hidden;
  height: 100%; }

.bar-types__list {
  display: flex;
  position: relative;
  height: 100%; }

.bar-types__item {
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0 0 100%;
  align-items: center;
  padding: 70px 0; }
  @media screen and (max-width: 768px) {
    .bar-types__item {
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .bar-types__item {
      width: 95vw; } }

.bar-types__imagebox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 60px; }
  @media screen and (max-width: 768px) {
    .bar-types__imagebox {
      margin-right: unset; } }
  @media screen and (max-width: 480px) {
    .bar-types__imagebox {
      width: 80%;
      margin-top: 5vh; } }

.bar-types__image {
  width: 100%;
  height: auto;
  display: block; }
  @media screen and (max-width: 480px) {
    .bar-types__image {
      width: 100%;
      height: auto; } }

.bar-types__textbox {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 40%; }
  @media screen and (max-width: 768px) {
    .bar-types__textbox {
      text-align: center;
      width: auto; } }

.bar-types__ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: #00accf;
  border-radius: 5px;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 37px; }
  .bar-types__ingredients:hover .pop-up {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .bar-types__ingredients {
      position: absolute;
      top: 3%;
      right: 1%; } }
  @media screen and (max-width: 480px) {
    .bar-types__ingredients {
      margin-bottom: 0;
      top: 1%; } }
  .bar-types__ingredients:before {
    content: '';
    position: absolute;
    background-image: url("../../img/bg/ingredients-bar.png") center center no-repeat;
    width: 51px;
    height: 51px; }

.bar-types__bar-icon {
  fill: #ffffff;
  margin-bottom: 9px; }

.bar-types__headline {
  color: #0d0d0d;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px; }
  @media screen and (max-width: 768px) {
    .bar-types__headline {
      padding: 0px 100px; } }

.bar-types__desc {
  color: #666666;
  font-weight: 400;
  margin-bottom: 47px; }
  @media screen and (max-width: 768px) {
    .bar-types__desc {
      padding: 0px 50px; } }

.bar-types__details-list {
  display: flex;
  flex-direction: column;
  color: #333333; }
  @media screen and (max-width: 768px) {
    .bar-types__details-list {
      align-items: center; } }

.bar-types__details-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 35px; }

.bar-types__details-item {
  margin-right: 55px; }

.bar-types__details-item--quantity {
  font-weight: 700; }

.bar-types__order {
  display: flex; }
  @media screen and (max-width: 768px) {
    .bar-types__order {
      justify-content: center;
      align-items: center; } }

.bar-types__order-price {
  font-size: 60px;
  font-weight: 300;
  margin-right: 35px; }
  @media screen and (max-width: 768px) {
    .bar-types__order-price {
      margin-right: 15px; } }

.button-bar-types {
  background: #0f5a47;
  color: #ffffff;
  margin-bottom: 0;
  height: 55px; }

.pop-up {
  position: absolute;
  display: flex;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  left: 100%;
  border-radius: 5px;
  width: 270px;
  color: #333333;
  font-style: normal;
  text-transform: none;
  font-size: 16px;
  z-index: 20;
  opacity: 0;
  transition: 0.3s; }
  @media screen and (max-width: 768px) {
    .pop-up {
      left: -270px; } }
  @media screen and (max-width: 480px) {
    .pop-up {
      left: 50%;
      transform: translateX(-130%);
      width: auto; } }

.pop-up__list {
  display: flex;
  flex-direction: column;
  width: 100%; }

.pop-up__item {
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-items: center;
  padding: 10px 20px; }
  @media screen and (max-width: 480px) {
    .pop-up__item {
      font-size: 12px; } }

.pop-up__imagebox {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; }

.pop-up__desc {
  width: 60%;
  text-align: left; }

.pop-up__qty {
  width: 20%;
  text-align: right; }

.team:before {
  content: '';
  position: absolute;
  display: block;
  background-image: url("../../img/bg/team--raspberry.png");
  width: 104px;
  height: 114px;
  top: 100%;
  z-index: 100;
  transform: translateY(-68px); }
.team:after {
  content: '';
  position: absolute;
  display: block;
  background-image: url("../../img/bg/team--leaf-berries.png");
  width: 10.8888888889rem;
  height: 32.1111111111rem;
  top: 0%;
  right: 0;
  z-index: 1;
  transform: translateY(-16.6666666667rem); }

.container--team {
  align-items: center;
  justify-content: center; }

.headline__title--team {
  margin-bottom: 58px; }

.team__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 5; }
  @media screen and (max-width: 768px) {
    .team__list {
      flex-wrap: wrap; } }

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px; }
  @media screen and (max-width: 768px) {
    .team__item {
      width: 35vw;
      height: auto; } }

.team__item--image-box {
  width: auto;
  height: 50%;
  margin-bottom: 16px; }
  @media screen and (max-width: 480px) {
    .team__item--image-box {
      margin-bottom: 10px; } }

.team__item--member-pic {
  height: auto;
  width: 100%; }

.team__item--content-box {
  display: flex;
  flex-direction: column; }

.accordeon__title {
  font-size: 21px;
  font-weight: 500;
  color: #323232;
  cursor: pointer;
  margin-bottom: 13px;
  position: relative; }
  @media screen and (max-width: 480px) {
    .accordeon__title {
      font-size: 16px; } }

.accordeon__title.active .accordeon__svg {
  transform: rotate(-180deg);
  transform-origin: 70% 50%; }

.accordeon__content {
  margin-top: 13px;
  display: none; }

.accordeon__content.show {
  display: block !important;
  margin-bottom: 13px; }

.accordeon__content--title {
  color: #281e1e;
  font-size: 18px;
  padding-bottom: 6px; }
  @media screen and (max-width: 480px) {
    .accordeon__content--title {
      font-size: 14px; } }

.accordeon__content--desc {
  font-weight: 300;
  font-size: 18px;
  color: #666666; }
  @media screen and (max-width: 480px) {
    .accordeon__content--desc {
      font-size: 14px; } }

.accordeon__svg {
  position: absolute;
  fill: #0f5a47;
  top: 0.3em; }

.close__svg {
  position: absolute;
  stroke-width: 20px;
  z-index: 9999;
  top: 0;
  right: 0;
  transform: translate(-30px, 30px);
  display: none;
  stroke: lightgrey;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .close__svg {
      transform: translate(-50px, 10px); } }

.container--menu {
  flex-direction: row;
  width: 100%;
  max-width: none;
  align-items: stretch;
  justify-content: stretch; }

.headline__title--menu {
  position: relative;
  display: flex;
  flex: 1; }
  @media screen and (max-width: 480px) {
    .headline__title--menu {
      display: none; } }
  .headline__title--menu:after {
    content: '';
    position: absolute;
    background: url("../../img/bg/menu--menu-min-min.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    filter: grayscale(20%);
    filter: brightness(80%); }

.headline__title--menu-inside {
  position: relative;
  z-index: 10;
  color: white;
  align-self: flex-start;
  justify-self: center;
  width: 100%;
  margin-top: 100px; }

.accordeon__menu {
  display: flex;
  position: relative;
  padding: 0 30px 40px 30px; }
  @media screen and (max-width: 480px) {
    .accordeon__menu {
      flex: 1; } }

.accordeon__menu--milk {
  position: relative; }
  .accordeon__menu--milk:after {
    content: '';
    position: absolute;
    background: url("../../img/bg/menu--milk-min-min.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: grayscale(10%);
    filter: brightness(30%); }

.accordeon__menu--honey {
  position: relative; }
  .accordeon__menu--honey:after {
    content: '';
    position: absolute;
    background: url("../../img/bg/menu--honey-min-min.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: grayscale(10%);
    filter: brightness(30%); }

.accordeon__menu--berries {
  position: relative; }
  .accordeon__menu--berries:after {
    content: '';
    position: absolute;
    background: url("../../img/bg/menu--berries-min-min.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: grayscale(10%);
    filter: brightness(30%); }

.accordeon__title--menu {
  height: 100%;
  font-size: 48px;
  position: relative;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  z-index: 10;
  color: white; }

.accordeon__menu.active .accordeon__title--menu {
  border-left: 1px dashed white; }
.accordeon__menu.active .close__svg {
  display: block; }
@media screen and (max-width: 480px) {
  .accordeon__menu.active {
    position: absolute;
    z-index: 1000; } }

.accordeon__content--menu {
  font-size: 16px;
  padding-top: 50px;
  padding-left: 27px;
  padding-right: 27px;
  z-index: 10;
  color: white;
  line-height: 23.97px;
  font-size: 1.1111111111rem; }

.reviews {
  position: relative;
  margin-bottom: 3.3333333333rem; }
  .reviews:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../../img/bg/reviews--leaf&berries.png");
    width: 139px;
    height: 321px;
    top: 100%;
    transform: translateY(-6.6111111111rem);
    z-index: 1; }
    @media screen and (max-width: 480px) {
      .reviews:before {
        display: none; } }
  .reviews:after {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../../img/bg/reviews--strawberries.png");
    width: 150px;
    height: 86px;
    bottom: 100%;
    right: 0;
    transform: translate(-4px, 110px); }

.reviews-headline {
  margin-top: 2.7777777778rem; }

.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.reviews-list {
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .reviews-list {
      width: 70%; } }
  @media screen and (max-width: 480px) {
    .reviews-list {
      width: 90vw; } }

.reviews-item {
  display: none;
  background: #f8faf9;
  margin-top: 1.6666666667rem;
  position: relative;
  padding: 2.7777777778rem 2.5rem; }
  @media screen and (max-width: 768px) {
    .reviews-item {
      flex-direction: column;
      align-items: center;
      text-align: center; } }
  .reviews-item:before {
    content: '';
    display: block;
    position: absolute;
    width: 5rem;
    height: 2.7777777778rem;
    background-color: #ffffff;
    border-radius: 50%;
    left: 45.5%;
    bottom: 94%; }
  .reviews-item:after {
    content: '';
    position: absolute;
    background: url("../../img/bg/bg--reviews__leaves.png") no-repeat center center;
    background-size: cover;
    width: 7.0555555556rem;
    height: 9.2777777778rem;
    right: 0%;
    top: 0%; }
    @media screen and (max-width: 768px) {
      .reviews-item:after {
        width: 11vw;
        height: 15vh; } }
    @media screen and (max-width: 480px) {
      .reviews-item:after {
        width: 7.0555555556rem;
        height: 9.2777777778rem; } }

.reviews-item.active {
  display: flex; }

.reviews-texts__userpic {
  display: block;
  width: 14.4444444444rem;
  height: 14.4444444444rem;
  margin-right: 1.1111111111rem; }
  @media screen and (max-width: 768px) {
    .reviews-texts__userpic {
      margin-right: 0;
      margin-bottom: 1.6666666667rem; } }
  @media screen and (max-width: 480px) {
    .reviews-texts__userpic {
      width: 6.7777777778rem;
      height: 6.7777777778rem; } }

.reviews-texts__container {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  align-items: flex-start;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .reviews-texts__container {
      align-items: center; } }

.reviews-texts__title {
  color: #323232;
  font-weight: 500;
  font-size: 1.6666666667rem; }

.reviews-texts__desc {
  color: #666666;
  font-weight: 400;
  margin-top: 1.6666666667rem; }

.reviews-content__username {
  color: #666666;
  font-weight: 500;
  margin-top: 1.6666666667rem; }

.reviews-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.6666666667rem; }

.reviews-buttons__item {
  margin-right: 0.5555555556rem; }
  .reviews-buttons__item:nth-last-of-type(1) {
    margin-right: 0; }

.reviews-buttons__item.active .reviews-buttons-userpic {
  border: 0.3333333333rem solid #0f5a47; }

.reviews-buttons-userpic {
  display: block;
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  border-radius: 50%;
  border: 0.3333333333rem solid transparent; }
  .reviews-buttons-userpic:hover {
    border: 0.3333333333rem solid #0f5a47;
    transition-duration: 0.3s; }
  @media screen and (max-width: 768px) {
    .reviews-buttons-userpic {
      width: 5.5555555556rem;
      height: 5.5555555556rem; } }

.order {
  background: #cfdeda url("../../img/bg/order--pattern.png") center center/cover no-repeat;
  color: #0f5a47; }
  .order:before {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../../img/bg/form__leaves.png");
    width: 242px;
    height: 264px;
    top: 0;
    right: 0;
    z-index: 100;
    transform: translateY(-150px); }
    @media screen and (max-width: 480px) {
      .order:before {
        transform: scale(0.5) translate(160px, -260px); } }
  .order:after {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../../img/bg/form__berrie.png");
    width: 47px;
    height: 48px;
    bottom: 0;
    left: 0;
    z-index: 100;
    transform: translate(20px, -70px); }
    @media screen and (max-width: 768px) {
      .order:after {
        display: none; } }

.container--order:before {
  content: '';
  position: absolute;
  display: block;
  background-image: url("../../img/bg/form__leaf.png");
  width: 135px;
  height: 188px;
  bottom: 0;
  right: 0;
  z-index: 100;
  transform: translateY(-50px); }
  @media screen and (max-width: 768px) {
    .container--order:before {
      display: none; } }

.headline__title--order {
  color: #0f5a47;
  margin-bottom: 2.7777777778rem; }
  @media screen and (max-width: 480px) {
    .headline__title--order {
      margin-top: 1.1111111111rem;
      margin-bottom: 0rem; } }

.form__elem {
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__elem {
      flex-direction: column;
      padding: 0 6.1111111111rem; } }
  @media screen and (max-width: 480px) {
    .form__elem {
      padding: 0; } }

.form__column {
  flex: 1;
  margin-right: 1.1111111111rem;
  justify-content: stretch; }
  .form__column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__column {
      margin-right: 0;
      margin-top: 1.1111111111rem; } }

.form__row {
  display: flex;
  margin-top: 1.1111111111rem; }
  .form__row:first-child {
    margin-top: 0; }
  @media screen and (max-width: 768px) {
    .form__row {
      justify-content: center; }
      .form__row--buttons {
        margin-top: 2.2222222222rem; } }
  @media screen and (max-width: 480px) {
    .form__row--buttons {
      margin-top: 1.6666666667rem; } }

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
  display: block; }
  .form__block:last-child {
    margin-right: 0; }

.form__block-title {
  margin-bottom: 0.5555555556rem; }

.form__input {
  background: #fff;
  border: 0.1666666667rem solid transparent;
  padding: 0.6111111111rem 1.2222222222rem;
  width: 100%;
  color: #000; }
  .form__input:focus {
    border: 0.1666666667rem solid #dde3bd;
    outline: none !important; }
  .form__input--textarea {
    resize: none;
    height: 10rem; }
    @media screen and (max-width: 480px) {
      .form__input--textarea {
        height: 5.5555555556rem; } }

.form__radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-right: 1.1111111111rem; }

.form__radio-default {
  opacity: 0;
  height: 0;
  width: 0; }

.form__radio-custom {
  position: relative;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.5555555556rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form__radio-custom:after {
    content: '';
    width: 0.7777777778rem;
    height: 0.7777777778rem;
    background-color: #0f5a47;
    border-radius: 50%;
    opacity: 0; }

.form__radio-default:checked + .form__radio-custom:after {
  opacity: 1;
  transition: 0.3s; }

.form__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none; }

.form__checkbox-default {
  opacity: 0;
  height: 0;
  width: 0; }

.form__checkbox-custom {
  position: relative;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background-color: #fff;
  margin-right: 0.5555555556rem; }
  .form__checkbox-custom:before {
    content: '';
    position: absolute;
    width: 0.1666666667rem;
    height: 0.4444444444rem;
    background-color: #0f5a47;
    transform: rotate(-45deg);
    top: 0.6111111111rem;
    left: 0.3888888889rem;
    opacity: 0; }
  .form__checkbox-custom:after {
    content: '';
    position: absolute;
    width: 0.1666666667rem;
    height: 0.7222222222rem;
    background-color: #0f5a47;
    transform: rotate(45deg);
    top: 0.3888888889rem;
    left: 0.7222222222rem;
    opacity: 0; }

.form__checkbox-default:checked + .form__checkbox-custom:before {
  opacity: 1;
  transition: 0.3s; }

.form__checkbox-default:checked + .form__checkbox-custom:after {
  opacity: 1;
  transition: 0.3s; }

.button-form-order {
  background: #0f5a47;
  color: #fff; }

.button-form-cancel {
  background: transparent; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0005;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000; }

.overlay__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  padding: 40px; }

.overlay__content {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
  font-size: 18px;
  font-weight: 400; }

.overlay__button {
  color: #fff;
  background: #0f5a47; }

.map {
  display: flex;
  flex-direction: column;
  align-items: center; }

.map__image-pic {
  height: cover; }

.fixed-menu {
  position: fixed;
  top: 12rem;
  right: 2.8333333333rem;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item--active .fixed-menu__dot {
  border-color: #ffffff; }

.fixed-menu__dot {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 5px; }
  .fixed-menu__dot:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .fixed-menu__dot:last-child {
    margin-bottom: 0; }

.footer {
  background-color: #ffffff;
  display: flex;
  color: black;
  position: absolute;
  bottom: 0; }

.container--footer {
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media screen and (max-width: 480px) {
    .container--footer {
      flex-direction: column; } }

.contacts {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .contacts {
      align-items: center;
      margin-bottom: 1.1111111111rem; } }

.contacts__address {
  font-size: 1.1666666667rem;
  color: #010101;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0.6666666667rem; }

.contacts__phone {
  display: flex;
  align-items: center;
  font-size: 1.1666666667rem;
  color: #0f5a47;
  text-transform: uppercase;
  font-style: normal; }

.phone__symbol--footer {
  fill: #0f5a47; }

.socials {
  display: flex; }

.socials__list {
  display: flex; }

.socials__item {
  margin-left: 1.1111111111rem; }

.socials__link--icon {
  fill: #b3b3b3;
  transition: 0.3s; }
  .socials__link--icon:hover {
    fill: #000000; }

/*# sourceMappingURL=main.css.map */
