.advantages {
	color: #ffffff;
	z-index: 2;
}

.advantages__list {
	display: flex;
	min-width: 68vw;

	@include tablets() {
		justify-content: center;
		width: 100vw;
	}

	@include phones() {
		padding: 0;
	}
}

.advantages__item {
	display: flex;
}

.advantages__icon {
	fill: none;
	stroke: #b0f7ff;
	stroke-width: 0.5;
	stroke-miterlimit: 10;
	margin-right: rem(7px);
}

.advantages__desc {
	display: flex;
	flex-grow: 1;
	font-size: rem(16px);
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: rem(20px);
	// max-width: rem(100px);
	max-width: 50%;

	@include phones() {
		font-size: 12px;
	}
}
