.advantages {
	color: #ffffff;
  z-index: 2;
  
  @include tablets() {
    padding-left: rem(15px);
  }
}

.advantages__list {
	display: flex;
	min-width: 68vw;
	flex-wrap: wrap;

	@include tablets() {
		justify-content: center;
		width: 100vw;
	}

	@include phones() {
		align-items: flex-end;
		justify-content: center;
	}
}

.advantages__item {
	display: flex;

	@include tablets() {
		padding-bottom: rem(10px);
		width: 30vw;
		min-width: rem(150px);
	}
}

.advantages__icon {
	fill: none;
	stroke: #b0f7ff;
	stroke-width: 0.5;
	stroke-miterlimit: 10;
	margin-right: rem(7px);
}

.advantages__desc {
	display: flex;
	flex-grow: 1;
	font-size: rem(16px);
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: rem(20px);
	// max-width: rem(100px);
	max-width: 50%;

	@include phones() {
		font-size: 12px;
		max-width: 30%;
	}
}
