.advantages {
	color: #ffffff;
}

.advantages__list {
	display: flex;
}

.advantages__item {
	display: flex;
}

.advantages__icon {
	color: $cyan-ic;
}

.advantages__icon--nature,
.advantages__icon--delivery,
.advantages__icon--dieting {
	fill: none;
	stroke: #b0f7ff;
	stroke-width: 0.5;
	stroke-miterlimit: 10;
	margin-right: 7px;
}

.advantages__icon--dieting {
	width: 42px;
	height: 42px;
	margin-right: 13px;
}

.advantages__desc {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 20px;
	// max-width: 100px;
	max-width: 40%;
}
