.bar-types {
	background-color: $green-bg;
	position: relative;
	display: flex;
	align-items: center;
}

.container--bar-types {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
}

.arrow__container {
	height: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	// width: 70px;

	&--left {
		left: 0;

		@include tablets() {
			left: 10%;
		}

		@include phones() {
			left: 0;
		}
	}

	&--right {
		left: 100%;
		// transform: translateX(-13px);

		@include tablets() {
			left: 90%;
			transform: none;
		}

		@include phones() {
			left: 100%;
			transform: translateX(-13px);
		}
	}
}

.arrow {
	z-index: 2;
	top: 50%;
	width: 13px;
	height: 28px;

	@include tablets() {
		transform: translateY(-17vh);
	}
}

.bar-types__slider {
	// display: flex;
	overflow: hidden;
	height: 100%;
	// width: 800px;
}

.bar-types__list {
	display: flex;
	position: relative;
	height: 100%;
	// width: 1600px;

	@include tablets() {
		// width: 80vw;
	}
}

.bar-types__item {
	display: flex;
	align-items: center;
	// width: 800px;
	align-items: flex-start;
	justify-content: flex-start;
	flex: 0 0 100%;
	align-items: center;
	padding: 70px 0;

	@include tablets() {
		flex-direction: column;
		// width: 80vw;
		// margin-right: 20vw;
	}

	@include phones() {
		width: 95vw;
	}
}

.bar-types__imagebox {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	// width: 50%;
	// height: 100%;
	// flex-grow: 1;
	// flex-basis: 0;
	margin-right: 60px;

	@include tablets() {
		margin-right: unset;
		// height: 50%;
	}

	@include phones() {
    width: 80%;
    margin-top: 5vh;
		// margin-right: auto;
	}

	// &:after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	background-image: url('../../img/bg/bar-types--leaves.png');
	// 	background-size: cover;
	// 	width: 521px;
	// 	height: 360px;
	// 	top: 0%;
	// 	left: 0%;
	// 	transform: translateX(-140px);

	// 	@include phones() {
	// 		display: none;
	// 	}
	// }
}

.bar-types__image {
	width: 100%;
	height: auto;
	display: block;

	@include phones() {
		width: 100%;
		height: auto;
	}
}

.bar-types__textbox {
	display: flex;
	flex-direction: column;
  z-index: 2;
  width: 40%;
	// flex-grow: 1;
	// flex-basis: 0;

	@include tablets() {
    text-align: center;
    width: auto;
		// width: 70vw;
  }
}

.bar-types__ingredients {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
	background-color: #00accf;
	border-radius: 5px;
	position: relative;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 900;
	font-style: italic;
	margin-bottom: 37px;

	&:hover .pop-up {
		opacity: 1;
	}

	@include tablets() {
		position: absolute;
		top: 3%;
		right: 1%;
	}

	@include phones() {
		margin-bottom: 0;
		top: 1%;
	}

	&:before {
		content: '';
		position: absolute;
		background-image: url('../../img/bg/ingredients-bar.png') center center
			no-repeat;
		width: 51px;
		height: 51px;
	}
}

.bar-types__bar-icon {
	fill: #ffffff;
	margin-bottom: 9px;
}

.bar-types__headline {
	color: $black-txt;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 22px;

	@include tablets() {
		padding: 0px 100px;
	}
}

.bar-types__desc {
	color: $grey-txt;
	font-weight: 400;
	margin-bottom: 47px;

	@include tablets() {
		padding: 0px 50px;
	}
}

.bar-types__details-list {
	display: flex;
	flex-direction: column;
	color: #333333;

	@include tablets() {
		align-items: center;
	}
}

.bar-types__details-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 35px;
}

.bar-types__details-item {
	margin-right: 55px;
}

.bar-types__details-item--quantity {
	font-weight: 700;
}

.bar-types__order {
	display: flex;
	@include tablets() {
		justify-content: center;
		align-items: center;
	}
}

.bar-types__order-price {
	font-size: 60px;
	font-weight: 300;
	margin-right: 35px;

	@include tablets() {
		margin-right: 15px;
	}
}

.button-bar-types {
	background: #0f5a47;
	color: #ffffff;
	margin-bottom: 0;
	height: 55px;
	// padding: 10px 30px;
}
