.chocco {
	background: $blue-bg url("../../img/bg/chocco--bars.png") center center /
		cover no-repeat;
	display: flex;
	padding-top: 24px;
	padding-bottom: 50px;
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		background-image: url("../../img/bg/chocco--leaf.png");
		width: 59px;
		height: 112px;
		top: 100%;
		transform: translateY(-52px);
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		background-image: url("../../img/bg/chocco--berries&leaves.png");
		width: 460px;
		height: 341px;
		top: 100%;
		right: 0%;
		transform: translateY(-296px);
	}
}

.chocco-content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	color: white;
}

.main-title--chocco {
	padding-bottom: 6px;
	max-width: 50%;
}

.main-description--chocco {
  margin-bottom: 32px;
	max-width: 47%;
}
