.chocco {
	background-color: $blue-bg;
	display: flex;
	position: relative;
	padding-top: rem(24px);
	padding-bottom: rem(50px);
	&:before {
		content: "";
		display: block;
		position: absolute;
		background-image: url("../../img/bg/chocco--leaf.png");
		width: rem(59px);
		height: rem(112px);
		top: 100%;
		transform: translateY(rem(-52px));
		z-index: 1;

		@include tablets() {
			display: none;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		background-image: url("../../img/bg/chocco--berries&leaves.png");
		width: rem(460px);
		height: rem(341px);
		top: 100%;
		right: 0%;
		transform: translateY(rem(-296px));
		z-index: 1;

		@include tablets() {
			display: none;
		}
	}
}

.chocco__background {
	position: absolute;
	background-image: url("../../img/bg/chocco--leaves.png");
	width: rem(512px);
	height: rem(648px);
	bottom: 0%;
	right: 0%;

	@include tablets() {
		top: 0%;
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		background-image: url("../../img/bg/chocco--bars.png");
		width: rem(403px);
		height: rem(419px);
		top: 0%;
		transform: translateY(rem(60px));
		@include tablets() {
			display: none;
		}
	}
}

.container--chocco {
	justify-content: space-between;
}

.chocco-content {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	color: white;

	@include tablets() {
		align-items: center;
		text-align: center;
	}
}

.chocco__tablet-background {
	display: none;

	@include tablets() {
		display: block;
		margin-bottom: rem(20px);
	}
}

.main-title--chocco {
	padding-bottom: rem(6px);
	max-width: 50%;

	@include tablets() {
		max-width: 100%;
		letter-spacing: normal;
	}
}

.main-description--chocco {
	margin-bottom: rem(32px);
	max-width: 47%;
	font-size: 21px;
	font-weight: 400px;
	letter-spacing: 0.05em;
	line-height: rem(26px);

	@include tablets() {
    letter-spacing: normal;
    font-size: 17px;
    max-width: 62%;
	}
}

.button--chocco {
	margin-bottom: rem(32px);
}
