.footer {
	background-color: #ffffff;
	padding: rem(15px) rem(5px);
	display: flex;
	color: black;
	align-items: center;
	justify-content: space-between;
	max-width: 90vw;

	@include phones() {
		flex-direction: column;
	}
}
