.footer {
	background-color: #ffffff;
	padding: rem(15px) rem(5px);
	display: flex;
	color: black;
	align-items: center;
	justify-content: space-between;
	max-width: 940px;

	@include phones() {
		flex-direction: column;
	}
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	@include phones() {
		align-items: center;
		margin-bottom: rem(20px);
	}
}

.footer__contacts--address {
	font-size: rem(21px);
	color: #010101;
	font-style: normal;
	font-weight: 400;
	margin-bottom: rem(12px);
}

.footer__contacts--phone {
	display: flex;
	align-items: center;
	font-size: rem(21px);
	color: $green-txt;
	text-transform: uppercase;
	font-style: normal;
}

.phone__symbol--footer {
	fill: $green-txt;
}

.footer__social--list {
	display: flex;
}

.footer__social--icon {
	fill: #b3b3b3;
	margin-left: rem(20px);
	transition: 0.3s;
	&:hover {
		fill: #000000;
	}
}
