.hamburgermenu {
	flex: 1;
	display: flex;
  top: 0;
  left:0;
	color: #fff;
	align-items: center;
	justify-content: space-between;
	position: relative;

	@include tablets() {
		font-size: rem(40px);
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: 9999;
		background-color: $blue-bg;
		// background-color: blue;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		display: none;
	}
}

.hamburgermenu--visible {
  display: flex;
  margin: 0;
}

.hamburger-menu__logo {
	font-family: 'MuseoSansW01-500';
	font-size: rem(24px);
	font-weight: 400;
	text-transform: uppercase;
	left: 0;
	margin-right: 1.4vw;

	@include tablets() {
		z-index: 20;
		display: block;
		margin-bottom: rem(20px);
		font-size: rem(40px);
	}
}
