.header {
	display: flex;
	top: 0;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.logo {
	font-family: "MuseoSansW01-500";
	font-size: rem(24px);
	font-weight: 400;
	text-transform: uppercase;
  left: 0;
  margin-right: 1.4vw;
}

.header__buttons {
  display: flex;
  flex:1;
  // padding: 0% 1%;

	@include tablets() {
		display: none;
	}
}
