.nav {
	display: flex;
	flex: 1;
}

.nav__list {
	display: flex;
	flex: 1;
	justify-content: space-between;
}

.nav__item {
	display: flex;
	// align-items: flex-start;
	// justify-content: stretch;
	// margin-right: rem(1px);

	// &:last-child {
	//   margin-right: 0;
	// }
}

.nav__link {
	text-decoration: none;
	color: white;
}
