.team {
	&:before {
		content: '';
		position: absolute;
		display: block;
		background-image: url('../../img/bg/team--raspberry.png');
		width: 104px;
		height: 114px;
		top: 100%;
		z-index: 100;
		transform: translateY(-68px);
	}
	&:after {
		content: '';
		position: absolute;
		display: block;
		background-image: url('../../img/bg/team--leaf-berries.png');
		width: rem(196px);
		height: rem(578px);
		top: 0%;
		right: 0;
		z-index: 1;
		transform: translateY(rem(-300px));
	}
}

.container--team {
	align-items: center;
	justify-content: center;

	@include tablets() {
	}
}

.headline__title--team {
	margin-bottom: 58px;
}

.team__list {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	z-index: 5;
	@include tablets() {
		flex-wrap: wrap;
	}
}

.team__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	// width: 220px;
	margin-left: 10px;
	margin-right: 10px;

	@include tablets() {
		width: 35vw;
		height: auto;
	}
}

.team__item--image-box {
	width: auto;
	height: 50%;
  margin-bottom: 16px;
  
  @include phones() {
    margin-bottom: 10px;
  }
}

.team__item--member-pic {
	height: auto;
	width: 100%;

	// @include phones() {
	//   width: 110px;
	//   height:144px;
	// }
}

.team__item--content-box {
	display: flex;
	flex-direction: column;
}

// .team-headline {
//   margin-top: rem(73px);
//   z-index: 5;
// }

// .team-content {
// 	margin-top: rem(58px);
// 	display: flex;
// 	justify-content: center;
// }

// .team-list {
// 	display: flex;
// 	padding-inline-start: rem(0px);
// 	justify-content: center;

// 	@include tablets() {
// 		flex-wrap: wrap;
// 	}

// 	//  @include tablets__team-list(){
// 	//   width:699px;
// 	// }

// 	@include phones() {
// 	}
// }

// .team-item {
// 	display: flex;
// 	flex-direction: column;
// 	text-align: center;
// 	align-items: center;
// 	width: 220px;
//   margin: 20px;
//   z-index: 5;

// 	// &:last-of-type {
// 	// 	margin-right: 0px;
// 	// }

// 	@include tablets() {
// 		// margin-bottom: 30px;
// 		// &:nth-of-type(2) {
// 		// 	margin-right: 0;
// 		// }
// 	}

// 	@include phones() {
// 		width: 160px;
// 		// margin: 0;
// 	}
// }

// .team-item__clickable:hover ~ .team-item__accordeon {
// 	height: 100%;
// 	opacity: 1;
// 	transition-duration: 0.3s;
// }

// .team-item__hover {
// 	cursor: pointer;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	&:hover + .team-item__accordeon {
// 		opacity: 1;
// 	}
// 	&:hover .team-item__member-name:after {
// 		transform: rotate(-180deg);
// 	}
// }

// .team-item__image-box {
// 	width: rem(220px);
// 	height: rem(288px);
// 	margin-bottom: rem(40px);

// 	@include phones() {
// 		width: rem(120px);
// 		height: rem(150px);
// 	}
// }

// .team-item__member-pic {
// 	display: block;
// 	width: auto;
// 	height: 100%;

// 	@include phones() {
// 		width: rem(144px);
// 		height: rem(185px);
// 	}
// }

// .team-item__member-name {
// 	color: $darkgrey-txt;
// 	font-size: rem(21px);
// 	font-weight: 500;
// 	position: relative;
// 	display: flex;

// 	&:after {
// 		content: '';
// 		width: 0;
// 		height: 0;
// 		border-right: rem(4px) solid transparent;
// 		border-left: rem(4px) solid transparent;
// 		border-top: rem(5px) solid #0f5a47;
// 		position: relative;
// 		top: 0.5em;
// 		left: 0.3em;
// 		transition: 0.3s;
// 	}
// }

// .team-item__accordeon {
// 	overflow: hidden;
// 	opacity: 1;
// 	transition: 0.3s;
// 	height: auto;
// }

// .team-item__job-title {
// 	color: #281e1e;
// 	margin-top: rem(17px);
// 	font-size: rem(18px);
// }

// .team-item__job-responsibilities {
// 	color: $grey-txt;
// 	font-weight: 300;
// 	margin-top: rem(8px);
// }
