.whyus {
	background: url("../../img/bg/whyus--grey-leaf.png") center center / cover
		no-repeat;
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		background-image: url("../../img/bg/whyus--raspberry.png");
		width: 161px;
		height: 315px;
		top: 100%;
		transform: translateY(-319px);
	}
}

.whyus-headline {
	margin-top: 49px;
}

.whyus-headline__desc {
	margin-top: 8px;
	color: $grey-txt;
	text-align: center;
	max-width: 45%;
}

.whyus-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.whyus__content {
	margin-top: 57px;
}

.whyus-content__whyus-list {
	display: flex;
}

.whyus-content__whyus-item {
	display: flex;
	flex: 1;
	margin-right: 79px;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;

	&:nth-of-type(2) {
		flex: 1.05;
	}

	&:last-child {
		margin-right: 0;
	}

	&:after {
		position: absolute;
		content: "";
		display: block;
		background: url("../../img/icons/dots.png") no-repeat center center;
		width: 67px;
		height: 21px;
		top: 22%;
		left: 107%;
	}

	&:last-of-type:after {
		content: "";
		display: none;
	}
}

.whyus-item__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.whyus-item__image-container {
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 125px;
		height: 125px;
		background-color: $grey-bg;
		border-radius: 50%;
	}
}

.whyus-item__image-icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.whyus-item__desc-container {
	margin-top: 20px;
}

.whyus-item__title {
	font-size: 27px;
	font-weight: 700;
}

.whyus-item__desc {
	margin-top: 19px;
	font-weight: 300;
	color: $grey-txt;
}
