.chocco {
	background-color: $blue-bg;
	background-image: url('../../img/bg/chocco--background-bars-leaves.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right bottom;
	display: flex;
	position: relative;
	width: 100%;

	@include tablets() {
		background-image: url('../../img/bg/chocco--blue-leaves.png');
		background-size: 70% auto;
		background-position: right top;
		padding-bottom: rem(20px);
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		background-image: url('../../img/bg/chocco--leaf.png');
		width: rem(59px);
		height: rem(112px);
		top: 100%;
		transform: translateY(rem(-52px));
		z-index: 1;

		@include tablets() {
			display: none;
		}
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		background-image: url('../../img/bg/chocco--berries&leaves.png');
		width: 460px;
		height: 341px;
		top: 100%;
		right: 0%;
		transform: translateY(rem(-296px));
		z-index: 1;

		@include tablets() {
			background-image: url('../../img/bg/bg--chocco--tablet.png');
			background-size: contain;
			top: 32%;
			width: 315px;
			height: 322px;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.container--chocco {
	padding-top: rem(24px);
	padding-bottom: rem(24px);
}

// .chocco__background {
// 	position: absolute;
// 	background-image: url("../../img/bg/chocco--leaves.png");
// 	width: rem(512px);
// 	height: rem(648px);
// 	bottom: 0%;
// 	right: 0%;

// 	@include tablets() {
// 		top: 0%;
// 	}

// 	&:before {
// 		content: "";
// 		display: block;
// 		position: absolute;
// 		background-image: url("../../img/bg/chocco--bars.png");
// 		width: rem(403px);
// 		height: rem(419px);
// 		top: 0%;
// 		transform: translateY(rem(60px));
// 		@include tablets() {
// 			display: none;
// 		}
// 	}
// }

.chocco-content {
	justify-content: center;
	display: flex;
	flex: 1;
	align-items: flex-start;
	flex-direction: column;
	color: white;

	@include tablets() {
		align-items: center;
	}

	@include phones() {
		justify-content: flex-end;
		align-items: center;
	}
}

.chocco-description {
	@include tablets() {
		text-align: center;
		width: 70%;
	}
}

.chocco__tablet-background {
	display: none;

	@include tablets() {
		display: block;
		margin-bottom: rem(20px);
		height: 40vh;
	}

	@include phones() {
		width: 80%;
		height: auto;
		top: 0;
		position: absolute;
		z-index: 0;
	}
}

.main-title--chocco {
	padding-bottom: rem(6px);
	max-width: 50%;
	z-index: 2;

	@include tablets() {
		max-width: 100%;
		letter-spacing: normal;
		font-size: 50px;
	}

	@include phones() {
		font-size: rem(45px);
	}
}

.main-description--chocco {
	margin-bottom: rem(32px);
	font-size: 21px;
	font-weight: 400px;
	letter-spacing: 0.05em;
	line-height: rem(26px);
	max-width: 45%;
	z-index: 2;

	@include tablets() {
		letter-spacing: normal;
		font-size: 17px;
		max-width: none;
		margin-bottom: rem(20px);
	}

	@include phones() {
		font-size: rem(20px);
	}
}

.button--chocco {
	margin-bottom: rem(32px);
	z-index: 2;
}
