.fixed-menu {
	position: fixed;
	top: rem(216px);
  right: rem(51px);
  z-index: 10;
  
  @include tablets(){
    display: none;
  }
}

.fixed-menu__item {
  display: flex;
	&:hover {
		.fixed-menu__dot {
      border-color: #ffffff;
      transition: 0.3s;
		}
	}
}

// .section.active {
//   .fixed-menu__dot {
//     border-color: #ffffff;
//   }
// }

.fixed-menu__dot {
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid transparent;
	margin-bottom: 5px;

	&:before {
		content: "";
		position: absolute;
		width: 6px;
		height: 6px;
		background: #ffffff;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:last-child {
		margin-bottom: 0;
	}
}
