.footer {
	background-color: #ffffff;
	display: flex;
	color: black;
	position: absolute;
	bottom: 0;
	transform: translateY(-55px);
}

.container--footer {
	flex-direction: row;
	height: auto;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;

	@include phones() {
		flex-direction: column;
	}
}
