.form__elem {
	display: flex;

	@include tablets() {
		flex-direction: column;
		padding: 0 rem(110px);
	}

	@include phones() {
		padding: 0;
	}
}

.form__column {
	flex: 1;
	margin-right: rem(20px);
	justify-content: stretch;
	&:last-child {
		margin-right: 0;
	}

	@include tablets() {
		margin-right: 0;
		margin-top: rem(20px);
	}
}

.form__row {
	display: flex;
	margin-top: rem(20px);
	&:first-child {
		margin-top: 0;
	}

	@include tablets() {
		justify-content: center;
		&--buttons {
			margin-top: rem(40px);
		}
	}

	@include phones() {
		&--buttons {
			margin-top: rem(30px);
		}
	}
}

.form__block {
	flex: 1;
	margin-right: rem(20px);
	display: block;
	&:last-child {
		margin-right: 0;
	}
}

.form__block-title {
	margin-bottom: rem(10px);
}

.form__input {
	background: #fff;
	border: rem(3px) solid transparent;
	padding: rem(11px) rem(22px);
	width: 100%;
	color: #000;

	&:focus {
		border: rem(3px) solid #dde3bd;
		outline: none !important;
	}

	&--textarea {
		resize: none;
		height: rem(180px);

		@include phones() {
			height: rem(100px);
		}
	}
}

.form__radio {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
	margin-right: rem(20px);
}

.form__radio-default {
	opacity: 0;
	height: 0;
	width: 0;
}

.form__radio-custom {
	position: relative;
	width: rem(25px);
	height: rem(25px);
	background-color: #fff;
	border-radius: 50%;
	margin-right: rem(10px);
	display: flex;
	justify-content: center;
	align-items: center;
	&:after {
		content: '';
		// position: absolute;
		width: rem(14px);
		height: rem(14px);
		background-color: $green-txt;
		border-radius: 50%;
		// left: 50%;
		// top: 50%;
		// transform: translate(-50%, -50%);
		opacity: 0;
	}
}

.form__radio-default:checked + .form__radio-custom:after {
	opacity: 1;
	transition: 0.3s;
}

.form__checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.form__checkbox-default {
	opacity: 0;
	height: 0;
	width: 0;
}

.form__checkbox-custom {
	position: relative;
	width: rem(25px);
	height: rem(25px);
	background-color: #fff;
	margin-right: rem(10px);
	&:before {
		content: '';
		position: absolute;
		width: rem(3px);
		height: rem(8px);
		background-color: #0f5a47;
		transform: rotate(-45deg);
		top: rem(11px);
		left: rem(7px);
		opacity: 0;
	}
	&:after {
		content: '';
		position: absolute;
		width: rem(3px);
		height: rem(13px);
		background-color: $green-txt;
		transform: rotate(45deg);
		top: rem(7px);
		left: rem(13px);
		opacity: 0;
	}
}

.form__checkbox-default:checked + .form__checkbox-custom:before {
	opacity: 1;
	transition: 0.3s;
}

.form__checkbox-default:checked + .form__checkbox-custom:after {
	opacity: 1;
	transition: 0.3s;
}

.button-form-order {
	background: $green-txt;
	color: #fff;
}

.button-form-cancel {
	background: transparent;
}
