.nav {
	display: flex;
	flex: 1;
}

.nav__list {
	display: flex;
	flex: 1;
	justify-content: space-between;

	@include tablets() {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.nav__item {
	display: flex;

	@include tablets() {
		margin-bottom: rem(20px);
	}
}

.nav__link {
	text-decoration: none;
	color: white;
}
